{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="content-container mw-600 mb-4 p-2">
  <h2 class="mt-4 mb-1 underline-orange align-self-center">Checkout</h2>

  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Please correct the errors below:</strong>
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Order Summary -->
  <div class="order-summary my-4 border rounded p-3">
    <h3 class="mb-4">Order Summary</h3>
    <p>You are ordering Wheeler verification of your business accessibility features.</p>
    <p>You are on the <strong>{{ tier|title }}</strong> plan, therefore the
    verification cost is <strong>£{{ total }}</strong>.</p>
    <p class="mb-0">Please check your details below are correct, and enter your card details.</p>
  </div>
  
  <form action="" method="post" id="payment-form">
    {% csrf_token %}
    <!-- Contact Information -->
    <fieldset class="mb-4 border rounded p-3 pb-2">
      <legend class="h3 mb-4">Contact Details</legend>
      {% for field in form.visible_fields %}
        {% if field.name == 'full_name' or field.name == 'email' or field.name == 'phone_number' %}
          {{ field|as_crispy_field }}
        {% endif %}
      {% endfor %}
    </fieldset>

    <!-- Address Information -->
    <fieldset class="mb-4 border rounded p-3 pb-2">
      <legend class="h3 mb-4">Billing Address</legend>
      {% for field in form.visible_fields %}
        {% if field.name == 'street_address1' or field.name == 'street_address2' or field.name == 'town_or_city' or field.name == 'county' or field.name == 'postcode' %}
          {{ field|as_crispy_field }}
        {% endif %}
      {% endfor %}
    </fieldset>

    <!-- Payment Details -->
    <fieldset class="mb-4 border rounded p-3">
      <legend class="h3 mb-4">Payment Details</legend>
      <!--Stripe card element will be inserted here-->
      <div class="mb-3" id="card-element"></div>
      <!--Display card errors-->
      <div id="card-errors" role="alert" class="text-danger mb-3"></div>

      <!-- Charge Warning -->
      <div class="mb-3">
        <p class="small text-orange my-0" id="charge-warning">
          <span class="icon">
            <i class="bi bi-exclamation-circle"></i>
          </span>
          <span>Your card will be charged <strong>£{{ total }}</strong></span>
        </p>
      </div>

      <!-- Submit & Loading -->
      <button id="submit-button" type="submit" class="btn btn-green">Complete Payment</button>
      <div id="loading-overlay" class="d-none">
        <div class="spinner-border text-green" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </fieldset>

  </form>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_publishable_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}