{% extends "base.html" %}
{% load static %}

{% block page_title %}Application Submitted{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/request_submitted.css' %}">
{% endblock %}

{% block content %}
<div class="content-container mw-600 p-2 mt-2">
  <h4 class="mb-2 underline-orange align-self-start">Application Submitted</h4>
  <div>
    <p>Your application to verify the accessibility features at <strong>{{ business.business_name }}</strong> has been submitted.</p>
    <p>An admin will review your application as soon as possible.</p>
    <p>When you are approved to proceed with the verification:</p>
    <ul class="mt-2">
      <li>You will receive an email notification.</li>
      <li>A link to the verification form will be available in your Accessibility Verification Hub, and your Personal Dashboard.</li>
      <li>You can then complete and submit your verification report.</li>
    </ul>
    <p>Next step:</p>
    <a href="{% url 'accessibility_verification_hub' %}" class="btn btn-mango req-sub-btn">Go to the Accessibility Verification Hub</a>
  </div>
</div>
{% endblock %}