{% extends "base.html" %}
{% load static %}
{% load time_extras %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/business_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/business_detail.css' %}">
{% endblock %}

{% block page_title %}Business Details{% endblock %}

{% block content %}
<div class="content-container mx-1">
  
  <div class="row align-items-center my-3 mx-2 gy-4 gx-2 border rounded shadow-sm">
    <div class="p-0 m-0 col-md-6 text-center">
      {% if logo_url %}
      <img src="{{ logo_url }}" alt="{{ business.business_name }} Logo" class="img-fluid rounded my-4 business-logo">
      {% else %}
      <img src="{% static 'images/business_logo_placeholder.png' %}" alt="Business Logo Placeholder" class="img-fluid rounded my-4 business-logo">
      {% endif %}
    </div>
    <div class="py-0 px-4 m-0 col-md-6 text-center">
      <h1 class="fw-bold mb-4 mb-md-0">{{ business.business_name }}</h1>
    </div>
  </div>

  <div class="row mb-3 g-3">

    <!-- Business Details -->
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="card-title m-3 h5">Business Details</h2>
          <div class="table-responsive">
            <table id="business-details" class="table table-sm table-striped table-hover mb-0">
            <tbody>
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-tags fs-5 me-2 text-orange"></i><strong>Category:</strong></td>
                <td class="align-middle">
                  {% if business.categories.all %}
                    {% for cat in business.categories.all %}
                      {{ cat.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
              {% if business.address %}
              <tr>
                  <td class="align-middle ps-3"><i class="bi bi-geo-alt fs-5 me-2 text-brown"></i><strong>Address:</strong></td>
                  <td class="align-middle">{{ business.address }}</td>
              </tr>
              {% endif %}
              {% if business.website %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-globe fs-5 me-2 text-mango"></i><strong>Website:</strong></td>
                <td class="align-middle"><a href="{{ business.website }}" target="_blank" class="text-decoration-none text-orange">{{ business.website }}</a></td>
              </tr>
              {% endif %}
              {% if business.public_email %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-envelope fs-5 me-2 text-brown"></i><strong>Email:</strong></td>
                <td class="align-middle"><a href="mailto:{{ business.public_email }}" class="text-decoration-none text-orange">{{ business.public_email }}</a></td>
              </tr>
              {% endif %}
              {% if business.public_phone %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-telephone fs-5 me-2 text-coffee"></i><strong>Phone:</strong></td>
                <td class="align-middle"><a href="tel:{{ business.public_phone }}" class="text-decoration-none text-orange">{{ business.public_phone }}</a></td>
              </tr>
              {% endif %}
              {% if business.facebook_url or business.x_twitter_url or business.instagram_url %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-share fs-6 me-2 text-coffee"></i><strong>Social Media:</strong></td>
                <td class="align-middle">
                  {% if business.facebook_url %}<a href="{{ business.facebook_url }}" target="_blank" class="me-2" aria-label="Facebook Link"><i class="bi bi-facebook text-orange"></i></a>{% endif %}
                  {% if business.x_twitter_url %}<a href="{{ business.x_twitter_url }}" target="_blank" class="me-2" aria-label="Twitter Link"><i class="bi bi-twitter-x text-mango"></i></a>{% endif %}
                  {% if business.instagram_url %}<a href="{{ business.instagram_url }}" target="_blank" class="me-2" aria-label="Instagram Link"><i class="bi bi-instagram text-coffee"></i></a>{% endif %}
                </td>
              </tr>
              {% endif %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Map Card -->
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="card-body p-0">
          <h2 class="card-title ms-3 my-3 h5">Location</h2>
          <div id="public-map"></div>
        </div>
      </div>
    </div>

    <!-- Description & Services Card -->
    {% if business.description or business.services_offered or business.special_offers %}
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body p-0">
          <h2 class="card-title ms-3 my-3 h5">Description & Services</h2>
          <div class="table-responsive">
            <table id="description-services-table" class="table table-sm table-striped table-hover mb-0">
            <tbody>
              {% if business.description %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-card-text fs-5 me-2 text-info"></i><strong>Description:</strong></td>
                <td class="align-middle">{{ business.description }}</td>
              </tr>
              {% endif %}
              {% if business.services_offered %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-briefcase fs-5 me-2 text-primary"></i><strong>Services Offered:</strong></td>
                <td class="align-middle">{{ business.services_offered }}</td>
              </tr>
              {% endif %}
              {% if business.special_offers %}
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-tag fs-5 me-2 text-warning"></i><strong>Special Offers:</strong></td>
                <td class="align-middle">{{ business.special_offers }}</td>
              </tr>
              {% endif %}
              <!--Status of verification request-->
              <tr>
                <td class="align-middle ps-3"><i class="bi bi-check-circle fs-5 me-2 text-success"></i><strong>Verification Status:</strong></td>
                <td class="align-middle">
                    {% if business.verified_by_wheelers %}
                    <div class="mt-1">
                      <div class="mb-1 px-2 py-1 btn-green-outline-no-hover rounded d-inline-block">
                        <span class="fw-bold">
                          <i class="bi bi-check-circle-fill pe-2"></i>
                          Verified by Wheelers
                        </span>
                      </div>
                    </div>
                    {% elif user_request_approved %}
                    <a href="{% url 'wheeler_verification_form' business.id %}" 
                        class="btn btn-green fs-6 fw-semibold box-shadow" style="white-space: normal;">
                        📝 Please verify the accessibility of this business
                    </a>
                    {% elif user_has_requested %}
                        You have submitted an application to verify this business
                    {% elif business.wheeler_verification_requested %}
                    <a href="{% url 'wheeler_verification_application' business.id %}" class="btn btn-warning fs-6 fw-semibold box-shadow" style="white-space: normal;">
                        Verify the accessibility of this business and earn a £10 Amazon voucher
                    </a>
                    {% else %}
                    <span class="badge bg-secondary">
                        This business has not requested verification of its accessibility features
                    </span>
                    {% endif %}
                </td>
                </tr>
            </tbody>
            </table>
          </div>          
        </div>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="row mb-3 g-3 d-flex align-items-stretch">  
    
    <!-- Accessibility Features Card -->
    <div class="col-12 {% if business.opening_hours and opening_hours_dict %}col-sm-6{% endif %}">
      <div class="card shadow-sm h-100 p-3">
        <div class="card-body">
          <h2 class="card-title mb-3 h5">Accessibility Features</h2>
          <div>
            {% if business.accessibility_features.all %}
              {% for feature in business.accessibility_features.all %}
                <span class="accessibility-badge me-1 mb-1">{{ feature.name }}</span>
              {% endfor %}
            {% else %}None{% endif %}
          </div>


        </div>
      </div>
    </div>

    <!-- Opening Hours Card -->
    <div class="col-12 col-sm-6">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="card-title ms-3 my-3 h5">Opening Hours</h2>
          {% if business.opening_hours and opening_hours_dict %}
            <div class="table-responsive">
              <table class="table table-sm table-striped table-hover mb-0" id="opening-hours-table-dashboard">
                <tbody>
                  {% for day, info in opening_hours_dict.items %}
                    <tr>
                      <td class="px-3 pe-sm-2"><strong>{{ day }}</strong></td>
                      <td class="px-4 px-sm-2">
                        {% if info %}
                          {% for period in info %}
                            <span>{{ period.start|format_time }} - {{ period.end|format_time }}</span>{% if not forloop.last %}<br>{% endif %}
                          {% endfor %}
                        {% else %}
                          <span class="text-muted">Closed</span>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="p-3">
              <p class="text-muted mb-0">No opening hours have been set for this business.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extra_js %}
{{ business_json|json_script:"business-data" }}
<script type="module" src="{% static 'js/business_dashboard.js' %}"></script>
{% endblock %}