{% extends "base.html" %}

{% block page_title %}Request Wheeler Verification of your business accessibility{% endblock %}

{% block content %}
<div class="mw-600 content-container p-3 mt-md-3">
  <h4 class="mb-2 underline-orange align-self-start">Wheeler Verification</h4>

  <h5>What is Wheeler Verification?</h5>

  <p>By requesting Wheelers to verify your business, you are asking three
    community members to visit the location, confirm accessibility features,
    and submit a short accessibility report.</p>

  {% with price=business.membership_tier.verification_price|default_if_none:business.membership_tier.membership_price %}
    {% if price == 0 %}
      <p>The cost of this request is covered by your premium membership.</p>
    {% else %}
      <p>You are on the <strong>{{ business.membership_tier.tier }}</strong> membership tier, so the total cost of this request is <strong>£{{ price|floatformat:2 }}</strong>.</p>
    {% endif %}
  {% endwith %}

  <p>Once three Wheelers have verified your business, you will earn a badge, as shown below. </p>

  <div class="mt-2 mb-4">
    <div class="mb-1 px-2 py-1 btn-green-outline-no-hover rounded d-inline-block">
      <span class="fw-bold">
        <i class="bi bi-check-circle-fill pe-2"></i>
        Verified by Wheelers
      </span>
    </div>
  </div>

  <p>This badge appears next to your listing in search results,
    and on both your public and private business profile pages. 
    It helps customers identify trusted accessible venues at a glance. 
  </p>

  <h5 class="mt-2">How does it work?</h5>

  <p>You will be able to view all verification reports, and track your verification 
    status at any time from your Business Dashboard.
  </p>
  
  <p>While you are waiting for verification, wheelers browsing the 
    <a href="{% url 'accessible_business_search' %}" class="text-orange">Accessible Business Search</a> 
    will see the badge, shown below, next to your listing. 
  </p>  
  
  <div class="badge badge-verify box-shadow text-body mt-2 mb-4 fs-6">
    Verify the accessibility of this business and earn a £10 Amazon voucher
  </div>
    
  <p>This lets the community know you're actively seeking verification. Wheelers can click the badge to 
    view the verification request details and apply to verify your accessibility features. 
    We only allow verified Wheelers to complete the verification process.
    We check each report for accuracy and completeness before approving the 
    verification and making it available to you.
  </p>

  <div class="my-1">
    <form method="post" action="{% url 'request_wheeler_verification' business.id %}">
      {% csrf_token %}
      <div class="d-flex flex-wrap gap-2 mb-3">
        <button type="submit" class="btn btn-mango fw-medium">Request Verification</button>
        <a href="{% url 'business_dashboard' %}" class="btn btn-coffee fw-medium">Return to Dashboard</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
