/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
 	--secondary-font: 'Bitter', serif;
    --bs-body-font-size: 1.4rem;

    /* Colours */
    /* Orange */
	--color-orange-1: #f5ddd2;  /* Footer background */
	--color-orange-2:  #eabaa5; /* Header h2 underline */
	--color-orange-3: #e09878;  /* Button hover */
	--color-orange-4: #bd582c; 	/* Link and icon */
	--color-orange-4-b: #bd582cbb; /* cover title background */
    --color-orange-5: #8e4221; 
	--color-orange-6-a: #5f2c1641;
}

html, body {
    font-family: var(--primary-font), sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #333;
}

header {
    height: 62px;
}

.navbar {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar-nav .nav-link.active {
    color: #bd582c; /* Active menu link color */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.hide {
  display: none !important;
}

/* logo font style */
.logo-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: -0.6px;
    color: #bd582c;
    text-decoration: none;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Center contents of base-container using flexbox */
.base-container {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
  min-height: calc(100vh - 62px);
  width: 100%;
}

@media (min-width: 1200px) {
  .base-container {
    margin-left: 260px; /* Width of the fixed sidebar */
    max-width: calc(100vw - 260px);
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.allauth-container {
    margin-top: 12px !important;
}

.custom-toast {
    position: relative;
    overflow: visible;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.toast-capper {
    height: 2px;
}

/* Spacing between multiple toasts */
.message-container .toast + .toast {
    margin-top: 10px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bg-warning {
    background-color: var(--color-orange-2) !important;
}

.badge-verify {
    max-width: 400px;
    font-weight: 400;
    line-height: 1.2;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: var(--color-orange-2) !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Disable the pulse animation on the location dot */
.maplibregl-user-location-dot::after,
.maplibregl-user-location-dot::before {
    display: none !important;
}

.maplibregl-canvas {
    opacity: 1 !important;
    filter: none !important;
}

.accessibility-badge {
  display: inline-block;
  background: #21548e;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px 8px 8px;
  margin: 2px 2px 2px 0;
  font-size: 1em;
  font-weight: 500;
}

.choices__list--multiple .choices__item {
    font-size: 1rem;
}

/* Reset z-index on the 'remove period' clear button in opening hours widget */
#opening-hours-table .remove-period-btn {
  z-index: auto !important;
}

@media (max-width: 576px) {
    /* Move toast container down page for smaller screens */
    .message-container {
        top: 90px;
        right: 10px;
        left: 10px;
    }

}

@media (min-width: 576px) {
    .content-container,
    .heaver {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .content-container {
        max-width: 800px;
    }

}

@media (min-width: 992px) {
    .content-container {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .content-container {
        max-width: 1000px;
    }
}

@media (min-width: 1400px) {
    .content-container {
        max-width: 1320px;
    }
}