{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block inner_content %}
  <div class="d-flex justify-content-center align-items-center mt-4">
    <div class="card shadow-sm" style="max-width:400px; width:100%;">
      <div class="card-body">
        <h3 class="card-title underline-orange align-self-start mb-3">Sign In</h3>        
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
        {% endelement %}
        {% url 'account_login' as login_url %}
        <form method="post" action="{{ login_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ redirect_field }}
            <div class="align-self-start mt-3">
                <button type="submit" class="btn btn-green px-5">{% trans "Sign In" %}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock inner_content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
