{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center mt-4">
    <div class="card shadow-sm" style="max-width:400px; width:100%;">
      <div class="card-body">
        <h3 class="card-title text-center mb-3">Sign Out</h3>
        <p class="text-center mb-4">Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {{ redirect_field }}
          <div class="d-flex justify-content-center gap-4">
            <button type="submit" class="btn btn-orange">Sign Out</button>
            <a href="{% url 'account_dashboard' %}" class="btn btn-mango">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
