{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="content-container p-2 mx-2 my-3">
    <h3 class="underline-orange my-3 align-self-start">Change Password</h3>
    {% url 'account_change_password' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        {{ form|crispy }}
        <div class="align-self-start mt-3">
            <button type="submit" class="btn btn-green px-4 me-3">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
     </form>
</div>
{% endblock content %}
