{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block content %}
<div class="content-container custom-constrained-width p-2 mx-2 my-3">
    <h3 class="underline-orange align-self-start mb-3">Verify Your Email Address</h3>
    <p>We have sent an email to you for verification. Follow the link provided to finalise the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.</p>
</div>
{% endblock content %}
