{% extends "base.html" %}

{% block content %}
<div class="content-container p-2">
  <div class="text-center my-4">
    <h3 class="underline-orange d-inline-block">Confirm Business Deletion</h3>
    <p class="my-3">Are you sure you want to delete your business, <strong>{{ business.business_name }}</strong>?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-orange">Yes, Delete</button>
      <a href="{% url 'business_dashboard' %}" class="btn btn-coffee">No, Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
