{% extends "base.html" %}

{% load static %}

{% block page_title %}Accessibility Verification Report{% endblock %}


{% block content %}
<div class="content-container p-3">

    <h4 class="my-3 text-center">
    <span class="d-block">Verification of the accessibility features of</span>
    <span class="fw-bold text-primary py-2 d-block">{{ verification.business.business_name }}</span>
    {% if show_wheeler_name %}
    <span class="d-block">by</span>
    <span class="fw-bold text-primary py-2 d-block">{{ verification.wheeler.get_full_name|default:verification.wheeler.username }}</span>
    {% endif %}
  </h4>

  <p><strong>Address visited:</strong> {{ verification.business.address }}</p>
  <p><strong>Date of Verification:</strong> {{ verification.date_verified|date:"F j, Y" }}</p>
  <hr>
  <h5>Mobility Device Used</h5>
  <p>{{ verification.get_mobility_device_display }}</p>
  <h4>Accessibility Features Confirmed</h4>
  <ul>
    {% for feature in verification.confirmed_features.all %}
      <li>{{ feature.name }}</li>
    {% empty %}
      <li>No confirmed features recorded.</li>
    {% endfor %}
  </ul>
  <h5>Additional Features Found</h5>
  <ul>
    {% for feature in verification.additional_features.all %}
      <li>{{ feature.name }}</li>
    {% empty %}
      <li>No additional features reported.</li>
    {% endfor %}
  </ul>
  <h5>Feature Photos</h5>
    <div class="row">
      {% for item in feature_photos_list %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
          <h5 class="mt-3 fw-bold">{{ item.feature.name }}</h5>
          <img src="{{ item.photo.image.url }}" alt="{{ item.feature.name }} photo" class="img-fluid rounded border">
        </div>
      {% endfor %}
    </div>
  <h5>Other Photos Submitted</h5>
  <div class="row">
    {% if other_photos.exists %}
      {% for photo in other_photos %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
          <img src="{{ photo.image.url }}" alt="Verification Photo" class="img-fluid rounded border">
        </div>
      {% endfor %}
    {% else %}
      <p>No photos submitted.</p>
    {% endif %}
  </div>
  <h5>Wheeler's Comments</h5>
  <div class="border p-3 bg-light">{{ verification.comments|linebreaks }}</div>
</div>
{% endblock %}
