{% extends "base.html" %}
{% block content %}
<div class="content-container p-2">
  <h5 class="mt-2">We appreciate your interest in verifying the accessibility features of <span class="text-primary fw-bold">{{ business.business_name }}</span></h5>
  <div class="mb-3">
    <p class="fs-6">{{ business.address }}</p>
    <p>{{ business.business_name }} has specified that their premises have the following Accessibility Features:</p>
    {% for feature in business.accessibility_features.all %}
      <span class="badge accessibility-badge">{{ feature.name }}</span>
    {% endfor %}
  </div>
  

  <div>
    <p>
        Each business requires three independent wheeler verifications to earn a badge that confirms its accessibility features.
    </p>
    <p>
        The badge, shown below, appears next to the business in search results, helping customers identify trusted accessible venues at a glance.
    </p>
  </div>
    
  <div class="my-2 px-2 py-1 btn-green-outline rounded d-inline-block"><span class="text-green-light fw-bold"><i class="bi bi-check-circle-fill pe-2"></i>Verified by Wheelers</span></div>
    
  <div>
    <p>By requesting to verify this business, you agree to:</p>
    <ul class="mt-2">
      <li>Visit the location in person using your wheeled mobility device.</li>
      <li>Take one clear photo of each of the accessibility features.</li>
      <li>Write a few sentences about your visit and the features you verified.</li>
    </ul>
    <p>You will earn a £10 Amazon voucher for each completed and approved verification.</p>
    <p>Click the submit button below to confirm your request to verify this business.</p>
    <p>Once we approve your request, you will have access to a form to submit your verification report.</p>
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Confirm Request to Verify</button>
    <a href="{% url 'accessible_business_search' %}" class="btn btn-secondary ms-2">Cancel</a>
  </form>
</div>
{% endblock %}
