{% extends "base.html" %}
{% block content %}
<div class="content-container p-2">
  <h3 class="mt-3 mb-1 underline-orange align-self-center">Accessibility Verification</h3>

  <p class="mt-2">We appreciate your interest in verifying the accessibility features of <span class="fw-bold">{{ business.name }}</span>.</p>
  <div class="mb-3">
    <p>
      <strong>Address:</strong> {{ business.street_address1 }}{% if business.street_address2 %}, {{ business.street_address2 }}{% endif %}, {{ business.town_or_city }}, {{ business.county }}, {{ business.postcode }}
    </p>
    <p>{{ business.name }} has specified that their premises have the following Accessibility Features:</p>
    {% for feature in business.accessibility_features.all %}
      <span class="badge accessibility-badge">{{ feature.name }}</span>
    {% endfor %}
  </div>
  
  <div>
    <p>Each business requires three independent wheeler verifications 
      to earn a badge that confirms its accessibility features.</p>
    <p>The badge, shown below, appears next to the business in search 
      results, helping customers identify trusted accessible venues 
      at a glance.</p>
  </div>
    
  <div class="mt-2 mb-3 px-2 py-1 btn-green-outline rounded align-self-start"><span class="text-green-light fw-bold"><i class="bi bi-check-circle-fill pe-2"></i>Verified by Wheelers</span></div>
    
  <div>
    <p>By requesting to verify this business, you agree to:</p>
    <ul class="mt-2">
      <li>Visit the location in person using your wheeled mobility device.</li>
      <li>Take one clear photo of each of the accessibility features.</li>
      <li>Write a few sentences about your visit and the features you verified.</li>
      <li>Take a photo of yourself at the location (this photo will not be shared publicly but will help verify your visit).</li>
    </ul>
    <p>You will earn a £10 Amazon voucher for each completed and approved verification.</p>
    <p>Click the submit button below to confirm your request to verify this business.</p>
    <p>Once we approve your request, you will have access to a form to submit your verification report.</p>
  </div>
  <form method="post">
    {% csrf_token %}
    <div>
      <button type="submit" class="btn btn-green">Confirm Application</button>
      <a href="{% url 'accessible_business_search' %}" class="btn btn-coffee ms-2">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
