.content-container {
  padding: 0.5rem;
}

#map-id_location {
    width: 100%;
    height: 400px;
}

/* Choices.js grouping labels and indent for categories dropdown */
.choices__group .choices__heading {
  font-weight: bold;
  font-size: 1.1rem;
}

.choices__list--dropdown .choices__item--choice {
  padding-left: 1rem;
}

#edit-business label {
  font-size: 1.1rem;
  font-weight: 500;
}