.signup-card {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* remove card border and shadow on smaller screens */
@media (max-width: 576px) {
    .signup-card {
        --bs-border-width: 0;
        box-shadow: none;
    }
}