.form-check-label {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.border-custom {
  border: 1px solid #dee2e6;
  border-bottom: none;
}
textarea.form-control {
  border-radius: 0rem;
}